@media (max-width: 644px) {
  .top-header {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column-reverse;
    z-index: 2;

    & > .socials {
      display: none;
    }

    & > .logo-site {
      width: 100%;
      margin: 20px 0px;

      & > a > img {
        transform: scale(1.4);
      }
    }

    & > .my-account {
      width: 100%;
      justify-content: space-between;
      position: relative;
      top: -20px;
    }
  }

  /* bottom  header */

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .nav-header > ul {
    width: 100%;
    display: none;
    background-color: white;
    top: 100%;
    flex-direction: column;
    gap: 0px;
    min-height: 300px;
    overflow-y: auto;
    justify-content: start;
  }
  .nav-header > ul.active {
    display: flex;
    transition: 0.7s ease;
    animation: opacity 1s alternate;
  }
  .nav-header > ul > li {
    width: 100%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.4235294118);
    padding: 0px 0px;
  }
  .nav-header > ul > li > a {
    width: 100%;
    padding: 20px;
    color: #212934;
    font-weight: normal;
  }
  .nav-header > ul > li > a:hover {
    background-color: #a8343c;
    color: #f8f8f8;
  }
  .nav-header > ul > li > .current {
    background-color: #a8343c;
  }
  #label-toggle {
    display: flex;
  }

  /*  main  section */

  .section-background {
    & > .container > .about-section {
      height: 400px;
    }
  }

  #main > .services {
    flex-wrap: wrap;
    transform: translateY(-15%);
    gap: 30px;

    & > a {
      width: 100%;
    }
  }

  .traditional {
    width: 100%;

    & > .container > .inner-traditional {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;

      text-align: center;
    }
  }

  .popular-product {
    & > .container > .cols {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  #footer {
    & > .container > .inner-footer {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);

      & > .our-page,
      & > .more-parts {
        display: none;
      }

      & > .description-footer {
        grid-column: span 1;
        text-align: center;
      }
    }
  }
  .generations {
    & > .container > .inner-generations > .images-generations {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .family-business {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    & > .container {
      grid-template-columns: repeat(1, 1fr);
      & > .inner-family-business {
        & > h1 {
          font-size: 3rem;
          text-align: center;
        }
        & > p {
          text-align: center;
        }
      }
    }
  }

  .products {
    & > .container > .inner-products > .cols-products {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .elevatore {
    display: none;
  }

  .recent-article {
    & > .container > .inner-recent-article {
      & > .section-blog {
        padding: 20px 0px;
      }
      & > .products-blog {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .contact-us {
    & > .container > .inner-contact-us {
      grid-template-columns: repeat(1, 1fr);

      & > .info > .read-more > .inner-read-more > .more-image {
        width: 50%;
      }
    }
  }

  .add-to-cart {
    width: 100%;
    & > .container > .inner-add-to-cart {
      grid-template-columns: repeat(1, 1fr);

      .about-product {
        & > h3,
        h4 {
          text-align: center;
        }
      }
    }
  }

  .our-award > .container > .inner-our-award {
    & > .produce,
    .from-table {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 767px) {
  .animals {
    width: 100%;
    & > .container > .inner-animals {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
