#header {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0% auto;
  padding: 0px 20px;
}
.dark-color {
  color: $darkColor;
}
.top-header {
  padding: 40px 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* socials in left of top header */

  & > .socials {
    justify-content: space-between;

    & > h4 {
      float: left;
      color: $titleColor;
    }

    & > .icons {
      margin-left: 20px;
      display: flex;
      gap: 20px;
      float: left;

      & > a {
        color: $primaryColor;
        font-size: $iconSize;
        transition: 0.5s;
        &:hover {
          color: $orangeColor;
        }
      }
    }
  }

  /* logo center in top header */

  & > .logo-site {
    display: flex;
    justify-content: center;
    align-items: center;

    & > a > img {
      width: 150px;
    }
  }

  /* my account */
  & > .my-account {
    display: flex;

    & > .account-icon {
      display: flex;
      justify-content: center;
      margin-right: 40px;

      & > a {
        @extend %all-link-text;
        margin: 0px 10px;
        &:hover {
          color: $primaryColor;
        }
      }
    }

    & > .bsket-icon {
      font-size: $iconSize;
      & > a {
        @extend %all-link-text;
        & > i {
          color: $darkColor;
          transition: 0.5s;
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate {
  animation: rotate 1s ease;
}
.nav-header {
  width: 100%;
  background-color: #a8343c;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 60px;
  position: relative;

  width: 100%;
  height: 60px;
  background-color: #a8343c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-header > ul {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 30px;
}
.nav-header > ul > li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px;
}
.nav-header > ul > li > .current {
  color: #e1cda0;
}
.nav-header > ul > li > a {
  color: #f8f8f8;
  font-weight: bold;
  padding: 20px 0px;
  transition: 0.5s;
}
.nav-header > ul > li > a:hover {
  color: #e1cda0;
}
.nav-header input[type="checkbox"] {
  display: none;
}

#toggle {
  display: none;
}
#label-toggle {
  user-select: none;
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  right: 30px;
  top: 15px;
}
.line {
  width: 30px;
  height: 5px;
  background-color: white;
  transition: all 0.7s ease;
  position: relative;
  display: block;
}
#label-toggle.toggle .line1 {
  top: 14px;
  left: 0;
  transform: rotate(-720deg) scaleX(0);
}
#label-toggle.toggle .line2 {
  transform: rotate(-765deg);
  height: 6px;
}
#label-toggle.toggle .line3 {
  top: -14px;
  left: 0;
  height: 6px;
  transform: rotate(-855deg);
}

.position-fixed {
  position: fixed;
  top: 0%;
  left: 0%;
}

.position-fixed {
  position: fixed;
  top: 0%;
  left: 0%;
}
